inference
supervision
tqdm
ultralytics
sahi
opencv-python
onnxruntime
pytest
pyyaml
psutil
python-dotenv
requests
numpy
pandas
scikit-learn
torch
matplotlib
seaborn
paddleocr
paddlepaddle

# docopt
# antlr4-python3-runtime
# iopath