# inference
# supervision
# tqdm
ultralytics
# sahi
opencv-python
# onnxruntime
pytest
pyyaml
psutil
# python-dotenv
# requests
numpy
pandas
scikit-learn
matplotlib
seaborn
torch
paddleocr
paddlepaddle